@font-face {
  font-family: myFirstFont;
  src: url("fonts/Roboto-Regular.ttf");
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: myFirstFont;
  font-size: 17px;
}

h2 {
  position: absolute;
  margin-left: 50px;
  width: 200px;
  text-align: center;
  color: #f1c40f;
}

input[type="text"] {
  margin: 20px;
}

.rapportBug {
  background: rgba(0, 0, 0, 0.9);
  width: 300px;
  height: 500px;
  margin: 70px;
  border-radius: 20px;
  font-family: myFirstFont;
}

.textarea {
  position: absolute;
  margin-top: 80px;
  margin-left: 20px;
  width: 250px;
  height: 200px;
  resize: none;
  background: rgba(0, 0, 0, 0.5);
  border: solid;
  border-color: rgba(61, 73, 119, 0.85);
  color: #f1c40f;
  font-family: myFirstFont;
}

.textarea::placeholder {
  color: rgba(241, 196, 15, 0.7);
  font-family: myFirstFont;
}

.button {
  position: absolute;
  margin-top: 450px;
  width: 150px;
  height: 30px;
  margin-left: 75px;
  background-color: rgb(61, 73, 119);
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
  color: #f1c40f;
  border: none;
  font-family: myFirstFont;
}

.radio {
  margin: 20px;
  color: #f1c40f;
  font-family: myFirstFont;
  vertical-align: middle;
}

#importance {
  position: absolute;
  margin-top: 300px;
  text-align: center;
}

#categorie {
  float: left;
  position: absolute;
  margin-top: 320px;
  vertical-align: middle;
}

input[type="radio"] {
  display: none;
}

input[type="radio"],
label {
  vertical-align: baseline;
  font-family: myFirstFont;
}

input[type="radio"] + label:before {
  width: 17px;
  height: 17px;
  border: solid;

  border-color: #f1c40f;
  display: inline-block;
  vertical-align: middle;
  content: "";
  margin-right: 6px;
  border-radius: 50%;
}

input[type="radio"]:checked + label:before {
  background: #f1c40f;
  border-color: rgb(61, 73, 119);
  border-width: 5px;
}

#radioo {
  margin-top: 5px;
}
