
@font-face {
    font-family: myFirstFont;
    src: url('css/fonts/Roboto-Regular.ttf');
  }
img{-webkit-user-drag: none;}
* {outline: none;-webkit-user-select: none;font-family: 'Open Sans', sans-serif;}

html, body 
{
    display: block;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.wrapper 
{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 75%;
    width: 350px;
    max-height: 750px;
    overflow-y: scroll;
}
