
@font-face {
    font-family: myFirstFont;
    src: url('css/fonts/Roboto-Regular.ttf');
  }
img{-webkit-user-drag: none;}
* {outline: none;-webkit-user-select: none;font-family: 'Open Sans', sans-serif;}

html, body 
{
    display: block;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.wrapper 
{

    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 350px;
    margin: 25px;
    margin-left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    height: 65vh;
}
#category
{
    background-color: rgba(0, 0, 0, 0.75);
    width: 18%;
    position: absolute;
    height: 100%;
}
#category button
{
    padding: 0;
    border: none;
    margin: 0;

    background-color: rgba(0,0,0,0.45);
    transition: background-color 100ms;
}
#category button:hover
{
    background-color: rgba(0, 0, 0, 0.212);
}

#container
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    display: block;
    width: 82%;
    left: 18%;    
    min-width: 100px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.menu
{
    position: absolute;
    overflow: inherit;
    background-color: rgba(15, 15, 15, 0.75);
    min-width: 100%;
    max-width: 100%;
}

