@font-face {
  font-family: myFirstFont;
  src: url('fonts/Roboto-Regular.ttf');
}

html {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 350px;
  height: 230px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: myFirstFont;
  color: #f1c40f;
  cursor: initial;
}

.buttonR {
  position: absolute;
  background-color: rgba(61, 73, 119, 0.85);
  width: 100px;
  height: 40px;
  margin-top: 160px;
  margin-left: 220px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
  color: #f1c40f;
  border: none;
}

.buttonR:hover {
  background-color: #9b1818;
  transition: background 200ms;
}

.buttonL {
  position: absolute;
  background-color: rgba(61, 73, 119, 0.85);
  width: 100px;
  height: 40px;
  margin-left: 30px;
  margin-top: 160px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
  color: #f1c40f;
  border: none;
}

.buttonL:hover {
  background-color: #109610;
  transition: background 200ms;
}

.question {
  position: absolute;

  width: 150px;
  height: 40px;
  margin-top: 20px;
  margin-left: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.content {
  position: absolute;
  width: 200px;
  height: 40px;
  margin-top: 80px;
  margin-left: 75px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
